html {
  height: 100%;
  width: 100%;
}
.main-cont{
  background-color:black;
  padding: 30px;
}

.h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
.container-d {
  background-color: #5fc1e1;
  width:100%;
  padding:5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.container-i{
background-color:greenyellow;
width: 100%;
padding:5px;
border-radius: 10px;
font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.span{
width: 50px;
heigh: 50px;
}

