	
		body {
			background-color: #e3e3e3;
			font-family: Arial, sans-serif;
		}
		.container {
			margin: 50px auto;
			padding: 15px;
			width: 260px;
			height: 400px;
			background-image:linear-gradient(to bottom right, #a6ccff, #4976b0, #2e517e);
			box-shadow: 10px 15px 15px rgb(0, 0, 0);
			border-radius: 20px;
			border: 2px solid  #4976b0;
		}
		input[type=button] {
			width: 61px;
			height: 61px;
			font-size: 25px;
			color: #ffffff;
			background-color: #a8a6a6;
			border: 1px solid #858484;
			border-radius: 8px;
			box-shadow: 3px 3px 3px rgb(1, 10, 16);
			cursor: pointer;
			outline: none;
			transition: background-color 0.3s;
			justify-content: space-between;
			margin-top: 8px;
		}
		input[type=button2] {
			width: 55px;
			height: 55px;
			font-size: 25px;
			color: #ffffff;
			background-color:rgb(31, 179, 31);
			border: 1px solid rgb(34, 139, 34);
			border-radius: 8px;
			box-shadow: 3px 3px 3px rgb(1, 10, 16);
			cursor: pointer;
			outline: none;
			transition: background-color 0.3s;
			justify-content: space-between;
			margin-top: 8px;
			text-align: center;
		}

		input[type=button3] {
			width: 55px;
			height: 55px;
			font-size: 25px;
			color: #ffffff;
			background-color:rgb(240, 170, 7);
			border: 1px solid rgb(171, 129, 29);
			border-radius: 8px;
			box-shadow: 3px 3px 3px rgb(1, 10, 16);
			cursor: pointer;
			outline: none;
			transition: background-color 0.3s;
			justify-content: space-between;
			margin-top: 8px;
			text-align: center;
		}
		
		input[type=button4] {
			width: 55px;
			height: 55px;
			font-size: 25px;
			color: #ffffff;
			background-color:rgb(234, 8, 8);
			border: 1px solid rgb(190, 25, 25);
			border-radius: 8px;
			box-shadow: 3px 3px 3px rgb(1, 10, 16);
			cursor: pointer;
			outline: none;
			transition: background-color 0.3s;
			justify-content: space-between;
			margin-top: 8px;
			text-align: center;
		}

		input[type=button]:hover {
			background-color: #858484;
		}
		input[type=button2]:hover {
			background-color:rgb(34, 139, 34);
		}
		input[type=button3]:hover {
			background-color:rgb(171, 129, 29);
		}
		input[type=button4]:hover {
			background-color:rgb(190, 25, 25);
		}

		input[type=text] {
			display: block;
			width: 90%;
			height: 25px;
			padding: 10px;
			font-size: 24px;
			font-weight: bold;
			text-align: right;
			border-radius: 8px;
			/*background-color: rgb(202, 229, 248);*/
			background-image: linear-gradient(rgb(141, 191, 226), rgb(255, 255, 255),rgb(146, 200, 238));
			box-shadow: 0 0 10px rgb(1, 15, 24) inset;
			outline: none;
			margin: 0 8px 8px 0;
			color: rgb(120, 120, 120);
		}
		
