
/*
.main-cont{
  width: 100%;
  
}  */

.title-bar{
  background-color: rgb(236, 235, 235);
  width: 800px;
  border-radius: 10px;
  gap: 100px;  
}

h1 {
  font-family: Aria, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px; 
}

h4 , h3 {
  font-family: Aria, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: gray;
  text-align: center;
  padding: 10px;
  text-align: left;
  
}

h2 {
  font-family: Aria, Helvetica, sans-serif;
  font-size: 25px;
  color: gray;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  
}

.cont-label{
  background-color: #ed6103;
  width: 240px;
  padding: 20px 0 0px 20px;
  font-family: Aria, Helvetica, sans-serif;
  border-radius: 10px;
}

.column {
  float: left;
  padding-left: 20px;
 } 


.left {
  padding-left: 50px;
  
}

.right {
  padding-left: 50px;
   
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


#form {
  display: block;
  clear: both;
  margin: 0;
}

.search-btn{
  background: #ed6103;
	color: white;
	border-style: outset;
	border-color: #ed6103;
	height: 25px;
	width: 150px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
  border-radius: 10px;
} 

body {
  /* background: lightblue; */
  /* background: #ffffff; /* Formato en Hexadecimal */
  background:rgb(198, 197, 197); /* Formato en RGB */
  /* background: white; /*Formato en texto puro */
    font-family: sans-serif;
    margin: 0 50px;
  
}

.container {
  display: flex;
  gap: 50px;
}



#posts {
  width: 400px;
}

#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color:gray;
}

i {
  cursor: pointer;

}

#msg {
  color: #570040;
  max-width: 240px;
}
